<div class="soon">
    <h1>404 Error_</h1>
    <h2><i>This route does not exist on the app! Check if everything is ok! Check your routes to see what might have
            happened
        </i></h2>
    <a href="/" class="btn btn-outline btn-xl js-scroll-trigger my-5">Home</a>
</div>