<section class="cta">
  <div class="cta-content">
    <div class="container">
      <h2><i>Hello {{loggedUser.fullName}}</i></h2>
      <a href="webconfig/artcheck" class="btn btn-outline btn-xl">Check Art DB</a>
      {{#isAdmin loggedUser}}
      <a href="webconfig/users" class="btn btn-outline btn-xl ml-3">Check Users</a>
      <a href="webconfig/adduser" class="btn btn-outline btn-xl ml-3">Create User</a>
      {{/isAdmin}}
    </div>
  </div>
</section>